In [7]:
s=[["absd", "ajbsdbak", "122y327y"], ["nobgj", "jadhsfgvhad"], ["asfgdahshdg", "hdjhjs"]]

In [3]:
for i in range(0, len(s)):
    print(len(s[i]))

3
2
2

In [4]:
wsum=0
for i in range(0, len(s)):
    wsum+=len(s[i])
print(wsum/len(s))

2.3333333333333335

Words
Difficulty: Medium
Question: The words in a paragraph were stored in a 2D list. Each list inside the given list corresponds to a sentence. The elements of this list are words of that sentence. You have to find the mean number of words in each sentence. The mean of n values x1, x2 …, xn = (∑xi)/n. Round off the result to 2 decimal places.
Examples:
Test Case 1:
Input - [["I", "am", "hungry"], ['Let"s', "order"]]
Output - 2.5
Explanation - The first sentence has 3 words. The second one has 2. Mean = (3+2)/2 = 2.5
Test Case 2:
Input - [["We", "know", "what", "we", "are"], ["But", "know", "not", "what", "we", "may", "be"]]
Output - 6.0
Explanation - First sentence has 5 words. Second has 7 words. Mean = 6.

In [11]:
def meanwords(A):
    n = len(A)
    # Initialize variables to keep track of the sum and count for each word.
    wsum=0
    for sen in range(0, n):
        wsum+=len(A[sen])
    return round(wsum/n, 1)

In [10]:
nc=[["We", "know", "what", "we", "are"], ["But", "know", "not", "what", "we", "may", "be"]]

In [14]:
meanwords(nc)

6.0

Not today, Duplicate!
Difficulty: Hard
Question: Do you know about relational databases? They are the huge pools of data that store data in an efficient way for performing Create, Read, Update and Delete (CRUD) operations on data. To facilitate this, they employ many techniques - one of them being to store each set of unique data with a unique identifier, called primary key. There are other constraints that can be used as keys as well - for example in a customer database, customer email can be kept as a key besides the primary key, given that every customer email should be unique. In this case, it’s called a candidate key.
Here, you are the esteemed Database Administrator (DBA), and your task is to de-duplicate the data. Data de-duplication refers to the process of eliminating already existing duplicate data or preventing duplicate data from entering the database.
But real-world data is messy, containing lots of duplicates. Here, you are given incoming employee data that consists of their name, address, employee email, phone number, etc. Your job is to create a filter that removes incoming duplicates from the database you are given.
The incoming data is in the form of a list of tuples (DATA_KEY, NAME, EMAIL, ADDRESS, PHONE)
The following constraints are given:
DATA_KEY, EMPLOYEE_EMAIL and PHONE are the keys - that is, they should be unique.
Complete the function db_filter(data) so that it takes in incoming data as a list of tuples and returns a de-duplicated list containing only the data that satisfy the above constraints. In case of duplicates, keep the data that was stored first.
Input format: List of tuples
Output format: List of tuples
Examples:
Test Case 1:
Input: [(1, 'A', 'a@b.com', '23, Lake Avenue', '919734536286'), (1, 'B', 'a@b.com', '23, Bard Colony', '919734536286')]
Output: [(1, 'A', 'a@b.com', '23, Lake Avenue', '919734536286')]
Explanation: The second entry violated the constraints that the fields DATA_KEY, EMPLOYEE_EMAIL and PHONE must be unique. So it was ignored.

In [28]:
x = [(1, 'A', 'a@b.com', '23, Lake Avenue', '919734536286'), (1, 'B', 'a@b.com', '23, Bard Colony', '919734536286'), (1, 'B', 'a@b.com', '23, Bard Colony', '919734536286'), (1, 'B', 'a@b.com', '23, Bard Colony', '919734536286'), (1, 'B', 'a@b.com', '23, Bard Colony', '919734536296')]

{(1, 'A', 'a@b.com', '23, Lake Avenue', '919734536286'),
 (1, 'B', 'a@b.com', '23, Bard Colony', '919734536286')}

In [2]:
A=[1,2,3,4]

In [24]:
A.pop(4)

IndexError: pop index out of range

In [16]:
x[0][-1] == x[1][-1]

True

In [29]:
y=[]
for i in x:
    y.append(list(i))

for i in range(len(y)):
    for j in range(i+1, len(y)):
        if y[i][-1] in y[j]:
            y[j][-1]='del'

In [ ]:
for i in range(len(y)):
    if 'del'==y[i][-1]:
        y.pop(i)

### Hey there, it's Day 3 of the #daily-python-questions! :bongocat_code: :python:
Locate Peak
### Difficulty: Medium
### Question: Given a list of integers, find the index of the maximum value. If there are two maximums, return index of the first one. If given list is empty return -1. Do not use the index() method.
### Examples:
Test Case 1:
Input - [5, 10, 15, 4, 6]
Output - 2
Explanation - The maximum number is 15. It’s index is 2.
Test Case 2:
Input - [22,3,22,2,7,11]
Output - 0
Explanation - There are two maximums with value 22. The first one has index 0.

In [ ]:
def locate_peak(data):
    n = len(data)
    if n==0:
        return -1
    # peak will store the biggest number known till that index. Setting it to the first number initially.
    peak = data[0] 
    # idx will store the index of the previous biggest number. It doesn't get changed if we encounter a  # number equal to the current biggest number.
    idx = 0
    for i in range(1,n):
        if data[i] > peak:
            peak = data[i]
            idx = i
    return idx

##### Tail match
##### Difficulty: Hard
##### Question: Given a list of integers, group all numbers which end with the same digit and return as a dictionary. The keys of the dictionary will be the last digit and value of dictionary will be a list of numbers. If given list is empty return -1.
##### Examples:
##### Test Case 1:
##### Input - [5, 10, 15, 4, 50]
##### Output - {5: [5,15], 0: [10, 50], 4: [4]}
##### Explanation - 5 and 15 end with 5, so they are grouped together. 10 and 50 end with 0. 4 ends with 4.
##### Test Case 2:
##### Input - [22,3,22,2,71,11]
##### Output - {2: [22, 22, 2], 3: [3], 1: [71, 11]}
##### Explanation - 22, 22 and 2 end with 2, so they are grouped together. 3 ends with 3. 71 and 11 end with 1.

In [3]:
x='0'

In [20]:
x=[5, 10, 15, 4, 50]

In [29]:
z=[]
for i in A:
    i=str(i)
    z.append(i[-1])

In [34]:
z=set(z)

tails={}
for n in z:
    v=[]
    for i in x:
        if str(i)[-1]==n:
            v.append(i)
            tails[n]=v

In [35]:
z

{'0', '4', '5'}

In [36]:
tails

{'0': [10, 50], '5': [5, 15], '4': [4]}

In [45]:
def tailchase(A):
    z=[]
    for i in A:
        i=str(i)
        z.append(i[-1])
    
    tails={}
    for n in set(z):
        v=[]
        for i in A:
            if str(i)[-1]==n:
                v.append(i)
                tails[n]=v
    return tails

In [46]:
tailchase([22,3,22,2,71,11])

{'2': [22, 22, 2], '3': [3], '1': [71, 11]}