In [14]:
class Student:
    def __init__(self, name, age):
        print(f"ID of self - {id(self)}")
        
        # Instane Variables / Instance Attributes
        self.name = name
        self.age = age

In [15]:
a = Student("Bipin Kalra", 5000)

ID of self - 140162770981408

In [16]:
id(a)

140162770981408

In [17]:
a

In [18]:
a.name

'Bipin Kalra'

In [19]:
a.age

5000

In [21]:
class Dog:
    # CLASS VARIABLE
    kind = "labra"
    
    def __init__(self, name):
        # INSTANCE VARIABLE
        self.name = name

In [22]:
d1 = Dog("Tuffy")
d2 = Dog("Scooby")

In [23]:
d1.name

'Tuffy'

In [24]:
d2.name

'Scooby'

In [25]:
d1.kind

'labra'

In [26]:
d2.kind

'labra'

In [27]:
# FROM AN OBJECT -> YOU CAN ACCESS BOTH INSTANCE AND CLASS VARIABLES

In [28]:
Dog.kind

'labra'

In [29]:
Dog.name

AttributeError: type object 'Dog' has no attribute 'name'

In [30]:
d1.kind = "german shepherd"

In [31]:
d1.kind

'german shepherd'

In [32]:
d2.kind

'labra'

In [33]:
Dog.kind

'labra'

In [36]:
class Dog:
    tricks = []
    
    def __init__(self, name):
        self.name = name
        
    def teach_trick(self, trick):
        self.tricks.append(trick)

In [37]:
d1 = Dog("Tuffy")
d2 = Dog("Scooby")

In [38]:
d1.teach_trick("jump")

In [39]:
d1.teach_trick("sit")

In [40]:
d1.tricks

['jump', 'sit']

In [42]:
d2.tricks

['jump', 'sit']

In [43]:
Dog.tricks

['jump', 'sit']

In [44]:
'''
Class Variables vs Instance Variables ->

Updating an class variable using an object - 
    - Mutable Variable -> The class variable itself is modified
    - Immutable Variable -> A new instance variable is created just for that object
'''

'\nClass Variables vs Instance Variables ->\n\nUpdating an class variable using an object - \n    - Mutable Variable -> The class variable itself is modified\n    - Immutable Variable -> A new instance variable is created just for that object\n'

In [45]:
# MAGIC METHODS / DUNDERS

In [69]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege
        
    def __str__(self):
        return f"{self.name} -> {self.milaege}"
    
    def __add__(self, other):
        return self.name + other.name
    
    def __gt__(self, other):
        return self.milaege > other.milaege

In [70]:
c1 = Car("Nexon", 13)
c2 = Car("Altroz", 14)

In [71]:
print(c1)

# Car.__str__(c1)

Nexon -> 13

In [72]:
print(c2)

Altroz -> 14

In [73]:
c1 + c2

# c1.__add__(c2)
# Car.__add__(c1, c2)

'NexonAltroz'

In [74]:
c1 > c2

False

In [77]:
class BankAccount:
    def __init__(self, initial_balance):
        self.balance = initial_balance
        
    def withdraw(self, amount):
        self.balance -= amount
        
    def deposit(self, amount):
        self.balance += amount

In [78]:
b1 = BankAccount(10000)

In [79]:
b1.balance

10000

In [80]:
b1.deposit(5000)

In [81]:
b1.withdraw(15000)

In [82]:
b1.balance

0

In [83]:
b1.balance = 123456789098765432345678909876543212345678987654321

In [84]:
# Private Variables

In [91]:
class BankAccount:
    def __init__(self, initial_balance):
        self.__balance = initial_balance # __balance is a private variable
        
    def withdraw(self, amount):
        self.__balance -= amount
        
    def deposit(self, amount):
        self.__balance += amount
        
    def show_balance(self):
        return f"Balance = {self.__balance}"

In [92]:
b1 = BankAccount(10000)

In [93]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [94]:
b1.show_balance()

'Balance = 10000'

In [95]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [96]:
b1.__balance = 12345678987654321345678987654321234567897654321

In [97]:
b1.__balance

12345678987654321345678987654321234567897654321

In [98]:
b1.show_balance()

'Balance = 10000'

In [104]:
b1._BankAccount__balance # NAME MANGLING

# this variable is created instead of __balance

0

In [105]:
b1._BankAccount__balance = 0

In [106]:
b1.show_balance()

'Balance = 0'

In [1]:
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember):
    def __init__(self, name, age):
        self.age = age
        
        super().__init__(name)
        
class Staff(SchoolMember):
    def __init__(self, name, salary):
        self.salary = salary
        
        super().__init__(name)
        
class Teacher(Staff):
    def __init__(self, name, salary, department):
        self.department = department
        
        # Staff.__init__(self, name, salary)
        super().__init__(name, salary)

In [2]:
t1 = Teacher("Bipin Kalra", 10, "Computer Science")

In [3]:
t1.__dict__

{'department': 'Computer Science', 'salary': 10, 'name': 'Bipin Kalra'}

In [4]:
t1.random = "random"

In [6]:
t1.__dict__

{'department': 'Computer Science',
 'salary': 10,
 'name': 'Bipin Kalra',
 'random': 'random'}

In [116]:
t1.department

'Computer Science'

In [117]:
t1.name

'Bipin Kalra'

In [118]:
t1.salary

10

In [119]:
class A:
    pass

class B:
    pass

class C(A, B):
    pass

In [120]:
# Research about how super() works in case of multiple inheritence.

In [121]:
# DIAMOND INHERITENCE

In [139]:
class A:
    x = 10

class B(A):
    pass

class C(B):
    pass
    
class D(A):
    x = 5
    
class E(C, D):
    pass

In [140]:
e = E()

In [141]:
e.x

5

In [132]:
E.__mro__ # special parameter to print MRO or Method Resolution Order

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)