## MAPS

In [6]:
a = [1, 3, 2, 5, 4]

In [7]:
m = list(map(lambda x: x**2, a))

In [8]:
m

[1, 9, 4, 25, 16]

In [9]:
'''
Question 1 ->

Map a list of heights to a list of T-Shirt sizes!
heights -> [150, 165, 182, 140, 155, 170]

h <= 150 -> S
h > 150 and h <= 180 -> M
h > 180 -> L

output -> [S, M, L, S, M, M]
'''

'\nQuestion 1 ->\n\nMap a list of heights to a list of T-Shirt sizes!\nheights -> [150, 165, 182, 140, 155, 170]\n\nh <= 150 -> S\nh > 150 and h <= 180 -> M\nh > 180 -> L\n\noutput -> [S, M, L, S, M, M]\n'

In [10]:
heights = [150, 165, 182, 140, 155, 170]

In [11]:
list(map(lambda x: "S" if x <= 150 else "M" if x > 150 and x <= 180 else "L", heights))

['S', 'M', 'L', 'S', 'M', 'M']

In [12]:
def sizing_logic(x):
    if x <= 150:
        return "S"
    elif x > 150 and x <= 180:
        return "M"
    else:
        return "L"

In [13]:
list(map(sizing_logic, heights))

['S', 'M', 'L', 'S', 'M', 'M']

In [14]:
'''
Question 2 ->

A = [0,0,1,1,0]
B = [1,0,0,1,1]

Result = [False, True, False, True, False]
'''

'\nQuestion 2 ->\n\nA = [0,0,1,1,0]\nB = [1,0,0,1,1]\n\nResult = [False, True, False, True, False]\n'

In [28]:
A = [0,0,1,1,0]
B = [1,0,0,1,1,0,0,0,0,0]

In [29]:
list(map(lambda x, y: x == y, A, B))

[False, True, False, True, False]

## FILTERS

In [17]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
f = list(filter(lambda x: x % 2 == 1, a))

In [21]:
f

[1, 3, 5, 7, 9]

## ZIP

In [22]:
a = [1, 2, 3, 4, 5]
b = ["a", "b", "c", "d", "e"]

In [23]:
list(zip(a, b))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [24]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = ["a", "b", "c", "d", "e"]

In [25]:
list(zip(a, b))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [26]:
a = [1, 2, 3, 4]
b = ["a", "b", "c", "d", "e"]

In [30]:
result = list(zip(a, b))

In [31]:
result

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [32]:
dict(result)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [35]:
a = [1, 2, 3, 4]
b = ["a", "b", "c", "d", "e"]
c = [True, False, False, True, True, True]
d = [5.6, 2.2, 1.3]

In [36]:
list(zip(a, b, c, d))

[(1, 'a', True, 5.6), (2, 'b', False, 2.2), (3, 'c', False, 1.3)]

## REDUCE

In [37]:
from functools import reduce

In [38]:
a = [1, 2, 3, 4, 5]

In [47]:
result = reduce(lambda x, y: x + y, a)

In [48]:
result

15

In [49]:
print(reduce(lambda x, y: x - y, a))

-13

In [50]:
a = list(range(1, 11))
b = reversed(a)

reduce(lambda x, y: x * y, a) == reduce(lambda x, y: x * y, b)

True

In [51]:
a = ["this", "is", "so", "cooolllll!!!"]

In [52]:
reduce(lambda x, y: f"{x} {y}", a)

'this is so cooolllll!!!'

In [53]:
a = [10, 20, 5, 18, 50, 90, 70, 65]

In [55]:
reduce(lambda x, y: x if x > y else y, a)

90

In [56]:
def reduction_visualisation(x, y):
    print(f"Currently comparing {x} and {y}")
    
    return x if x > y else y

In [57]:
reduce(reduction_visualisation, a)

Currently comparing 10 and 20
Currently comparing 20 and 5
Currently comparing 20 and 18
Currently comparing 20 and 50
Currently comparing 50 and 90
Currently comparing 90 and 70
Currently comparing 90 and 65

90

## ARGS AND KWARGS

In [58]:
def sum_custom(a, b):
    return a + b

In [59]:
sum_custom(4,5)

9

In [60]:
# PROBLEM -
# - A sum function should take minimum 2 arguments
# - But max arguments should be unlimited

In [62]:
def sum_custom(a, b, *args):
    print(a)
    print(b)
    print(args)

In [64]:
sum_custom(4, 5, 6, 7, 8, 9, 10)

4
5
(6, 7, 8, 9, 10)

In [69]:
def sum_custom(a, b, *any_variable_name):
    return a + b + sum(any_variable_name)

In [70]:
sum_custom(4, 5)

9

In [71]:
sum_custom(4)

TypeError: sum_custom() missing 1 required positional argument: 'b'

In [72]:
sum_custom(4, 5, 6, 7, 8)

30

In [73]:
def random():
    return 200, 300, 400, 500, 600

In [78]:
a, b, *c = random()

In [79]:
a

200

In [80]:
b

300

In [81]:
c

[400, 500, 600]

In [82]:
def create_person(name, age, gender):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }
    
    return Person

In [83]:
create_person(name = "Bipin", age = 5000, gender = "Male")

{'name': 'Bipin', 'age': 5000, 'gender': 'Male'}

In [84]:
def create_person(name, age, gender, **kwargs):
    print(kwargs)

In [85]:
create_person(name = "Bipin", age = 5000, gender = "Male", subject = ["Computer Science", "Physics"], height = 182, weight = False)

{'subject': ['Computer Science', 'Physics'], 'height': 182, 'weight': False}

In [86]:
def create_person(name, age, gender, **extra_info):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }
    
    Person.update(extra_info)
    
    return Person

In [87]:
create_person(name = "Bipin", age = 5000, gender = "Male", subject = ["Computer Science", "Physics"], height = 182, weight = False)

{'name': 'Bipin',
 'age': 5000,
 'gender': 'Male',
 'subject': ['Computer Science', 'Physics'],
 'height': 182,
 'weight': False}

In [88]:
# positional -> args -> keyworded -> kwargs