In [1]:
a = {"value1", "value2", "value3"}

In [2]:
a

{'value1', 'value2', 'value3'}

In [3]:
a = {
    "key1": "value1",
    "key2": "value2",
    "key3": "value3"
}

In [4]:
# Approach 1 
state_wise_data = [("Delhi", 70), ("Kerala", 99), ("UP", 50), ("Nagaland", 65)]

In [5]:
state_wise_data[2]

('UP', 50)

In [6]:
# Approach 2
state_wise_data = {
    "Delhi": 70,
    "Kerala": 99,
    "UP": 50,
    "Nagaland": 65
}

In [7]:
state_wise_data["Delhi"]

70

In [9]:
state_wise_data["UP"]

50

In [8]:
state_wise_data[1]

KeyError: 1

In [9]:
state_wise_data

{'Delhi': 70, 'Kerala': 99, 'UP': 50, 'Nagaland': 65}

In [13]:
'''
Before Python 3.7 -> Dictionaries were unordered
After Python 3.7 -> Dictionaries are ordered internally but we will not consider them as that.
'''

'\nBefore Python 3.7 -> Dictionaries were unordered\nAfter Python 3.7 -> Dictionaries are ordered internally but we will not consider them as that.\n'

In [14]:
a = {}

In [15]:
type(a)

dict

In [16]:
a

{}

In [17]:
a = {
    "Delhi": 70,
    "Kerala": 99,
    "UP": 50,
    "Nagaland": 65
}

In [18]:
a["Maharashtra"] = 80

In [19]:
a

{'Delhi': 70, 'Kerala': 99, 'UP': 50, 'Nagaland': 65, 'Maharashtra': 80}

In [22]:
a["Delhi"] = 85 # THESE KEYS ARE CASE SENSITIVE

In [23]:
a

{'Delhi': 85, 'Kerala': 99, 'UP': 50, 'Nagaland': 65, 'Maharashtra': 80}

In [24]:
# Heterogeneity in a dictionary
# Keys -> Strings
# Values -> ANY PYTHON OBJECT

In [11]:
Avenger = {
    "name": "Thor",
    "age": 1500,
    "weapons": ["stormbreaker", "mjolnir"]
}

In [27]:
# Adding and updating values with one operation

In [13]:
Avenger.update({
    "name": "Thor Odinson",
    "weapons": ["stormbreaker"],
    "strongest?": True,
    "eyes": 1
})

print(Avenger)

{'name': 'Thor Odinson', 'age': 1500, 'weapons': ['stormbreaker'], 'strongest?': True, 'eyes': 1}

In [16]:
name = Avenger.get("ham")
print(name)

None

In [30]:
random = {
    "a": 1,
    "b": 2,
    "c": 3,
    "d": None
}

In [31]:
random["b"]

2

In [34]:
result = random["e"] # Key is not present in the dictionary

KeyError: 'e'

In [35]:
result = random.get("e")

In [36]:
print(result)

None

In [39]:
result = random.get("e", False)
# This default value will be returned in case the key does not exist

In [40]:
result

False

In [41]:
random.get("a")

1

In [42]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapons': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [18]:
Avenger.get("weapons").append("mjolnir")

In [19]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapons': ['stormbreaker', 'mjolnir'],
 'strongest?': True,
 'eyes': 1}

In [20]:
a

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [51]:
random

{'a': 1, 'b': 2, 'c': 3}

In [53]:
random = {
    "a": 1,
    "b": 2,
    "c": 3,
    "d": None
}
# takes a key as input and removes that key value pair

In [54]:
random

{'a': 1, 'b': 2, 'c': 3, 'd': None}

In [55]:
random.pop("d")

In [56]:
random

{'a': 1, 'b': 2, 'c': 3}

In [57]:
random.pop()

TypeError: pop expected at least 1 argument, got 0

In [58]:
# KEYS IN A DICIONARY ARE UNIQUE

In [60]:
a = {
    "a": 1,
    "b": 2
}

In [61]:
a["a"] = 4

In [62]:
a

{'a': 4, 'b': 2}

In [64]:
'''
Question 1 - 
Given two dictionaries A and B, Write a python program to merge these two dictionaries.

A = {
    "a": 5,
    "b": 6
}

B = {
    "b": 7,
    "d": 2
}

Result = {
    "a": 5,
    "b": 7,
    "d": 2
}
'''

'\nQuestion 1 - \nGiven two dictionaries A and B, Write a python program to merge these two dictionaries.\n\nA = {\n    "a": 5,\n    "b": 6\n}\n\nB = {\n    "b": 7,\n    "d": 2\n}\n\nResult = {\n    "a": 5,\n    "b": 7,\n    "d": 2\n}\n'

In [72]:
A = {
    "a": 5,
    "b": 6
}

B = {
    "b": 7,
    "d": 2
}

In [66]:
A.update(B) # Method 1

In [67]:
A

{'a': 5, 'b': 7, 'd': 2}

In [73]:
result = A | B # Method 2 - VERY NEW

In [74]:
result

{'a': 5, 'b': 7, 'd': 2}

In [75]:
result = A.union(B)

AttributeError: 'dict' object has no attribute 'union'

In [76]:
# ITERATION IN A DICTIONARY

In [ ]:


'''
#? Given a tuple of integers, write a Python function to find the second largest element in the tuple.

'''

In [25]:
tup=(1,2,4,5,6,7)

def second_max(tup):

    tup_max=max(tup)
    tup_max2=a[0]

    for i in tup:
        if tup_max>i>tup_max2:
            tup_max2=i

    return tup_max2

second_max(tup)

6

In [31]:
tup=(1,3,4,5,56,7,8,3,5,7,8,1)

def occurrence(tup, el):
    occ=0
    if el in tup:

        
        for i in tup:
            if i==el:
                occ+=1
    

    return occ


occurrence(tup, 19)


def unique_els(tup):
    u_els=[]
    for i in tup:
        if i not in u_els:
            u_els.append(i)

    return tuple(u_els)

unique_els(tup)

def unique_els(tup):
    u_els = []
    for i in tup:
        if i not in u_els:
            u_els.append(i)
    return tuple(u_els)




def tup_average(tup):
    if not tup:
        return None
    return sum(tup)/len(tup)

tup_average(tup)

9.0

In [42]:
'''
#! Write a function longest_sequence that takes a tuple of integers as an input, and returns the length of the longest increasing sequence of numbers within the tuple. 
#! For example, the input (1, 2, 3, 4, 5) should return 5, while the input (1, 2, 3, 5, 4, 6) should return 3.

'''
tupper = (1,2,3,4,6,7,8,9,10)

# def longest_sequence(tup):
#     seq_count = 0
#     if not tup:
#         return None
#     for i in range(len(tup)):
#         if i+1 < len(tup):
#             diff=tup[i+1]-tup[i]
#             if tup[i]+diff==tup[i+1]:
#                 seq_count+=1

#     return seq_count

def longest_sequence(tup, difference=1):
    seq_count = 1
    max_seq_count = 1
    if not tup:
        return None
    for i in range(len(tup) - 1):
        if tup[i+1] - tup[i] == difference:
            seq_count += 1
        else:
            if seq_count > max_seq_count:
                max_seq_count = seq_count
            seq_count = 1

    return max(max_seq_count, seq_count)

8

In [ ]:
'''

Write a function called count_words that takes a string as 
input and returns a dictionary containing the count of each word in the string. 

'''

In [50]:
str1="Write an essay on hogwarts, tell us, hogwarts and its situated on a valley."


def count_words(str1):
    punch=[".", ",", "!", "?", "'",'"',":","(",")", "[", "]"]

    for i in punch:
        str1.replace(i, "")
    x=str1.split(" ")
    dict1={}
    for i in set(x):
        dict1[i]=x.count(i)

    return dict1

count_words(str1)

{'on': 2,
 'essay': 1,
 'valley.': 1,
 'hogwarts': 1,
 'an': 1,
 'tell': 1,
 'situated': 1,
 'a': 1,
 'its': 1,
 'hogwarts,': 1,
 'us,': 1,
 'and': 1,
 'Write': 1}

In [79]:
'''
Write a Python function that takes in a dictionary and returns a new dictionary with all the values multiplied by 2.

Input: {'a': 1, 'b': 2, 'c': 3}
Output: {'a': 2, 'b': 4, 'c': 6}

'''

In [53]:
##
#! Approach 1
def dict_multiplier(dict1):

    for keys,values in dict1.items():
        dict1[keys]=values*2

    return dict1

new_dict = {'a': 1, 'b': 2, 'c': 3}

dict_multiplier(new_dict)

{'a': 2, 'b': 4, 'c': 6}

In [58]:
#
#! Approach two

new_dict = {'a': 1, 'b': 2, 'c': 3}
def dict_multiplier2(dict1):
    x={keys: values*2 for keys,values in dict1.items()}
    return x




dict_multiplier2(new_dict)

{'a': 2, 'b': 4, 'c': 6}

In [ ]:
'''
input_list = [{"item": "apple", "price": 1.99, "quantity": 2},              {"item": "banana", "price": 0.99, "quantity": 3},              {"item": "apple", "price": 1.49, "quantity": 5}]

group_by_item(input_list)

Output:
{
  "apple": [{"item": "apple", "price": 1.99, "quantity": 2},
            {"item": "apple", "price": 1.49, "quantity": 5}],
  "banana": [{"item": "banana", "price": 0.99, "quantity": 3}]
}



'''

In [67]:
input_list = [{"item": "apple", "price": 1.99, "quantity": 2},{"item": "banana", "price": 0.99, "quantity": 3},{"item": "apple", "price": 1.49, "quantity": 5}]

def group_by_item(input_list):
    list_of_items=[]
    for i in input_list:
        list_of_items.append(i['item'])

    list_of_items=set(list_of_items)

    new_dict={}

    for i in list_of_items:
        new_dict[i]=[]

    for i in list_of_items:
        for j in input_list:
            if i == j['item']:
                new_dict[i].append(j)
    return new_dict

    
group_by_item(input_list)

{'banana': [{'item': 'banana', 'price': 0.99, 'quantity': 3}],
 'apple': [{'item': 'apple', 'price': 1.99, 'quantity': 2},
  {'item': 'apple', 'price': 1.49, 'quantity': 5}]}

In [80]:
a

{'name': 'Thor Odinson',
 'age': 1500,
 'weapons': ['stormbreaker', 'mjolnir'],
 'strongest?': True,
 'eyes': 1}

In [82]:
for i in a: # by default iteration happens over keys
    print(i)

name
age
weapons
strongest?
eyes

In [83]:
for i in a:
    print(a[i])

Thor Odinson
1500
['stormbreaker', 'mjolnir']
True
1

In [84]:
for i in a:
    print(f"{i} -> {a[i]}")

name -> Thor Odinson
age -> 1500
weapons -> ['stormbreaker', 'mjolnir']
strongest? -> True
eyes -> 1

In [87]:
a.keys()

dict_keys(['name', 'age', 'weapons', 'strongest?', 'eyes'])

In [85]:
for i in a.keys():
    print(i)

name
age
weapons
strongest?
eyes

In [88]:
a.values()

dict_values(['Thor Odinson', 1500, ['stormbreaker', 'mjolnir'], True, 1])

In [86]:
for i in a.values():
    print(i)

Thor Odinson
1500
['stormbreaker', 'mjolnir']
True
1

In [90]:
a.items()

dict_items([('name', 'Thor Odinson'), ('age', 1500), ('weapons', ['stormbreaker', 'mjolnir']), ('strongest?', True), ('eyes', 1)])

In [89]:
for i in a.items():
    print(i)

('name', 'Thor Odinson')
('age', 1500)
('weapons', ['stormbreaker', 'mjolnir'])
('strongest?', True)
('eyes', 1)

In [91]:
for key, value in a.items():
    print(f"{key} -> {value}")

name -> Thor Odinson
age -> 1500
weapons -> ['stormbreaker', 'mjolnir']
strongest? -> True
eyes -> 1

In [92]:
a = [1,2,3,4,5]

In [93]:
5 in a

True

In [95]:
"random" in Avenger.keys()

False

In [96]:
"age" in Avenger

True

In [97]:
"random" in Avenger

False

In [98]:
'''
Question 2 - 
1. Take a string as input.
2. Create a dictionary acc to the following criteria - 
- There will be one key value pair for each unique character - 
- Key will be character and value will be the count of character inside the string

INPUT - "rrsssstttt"
OUTPUT -
{
    "r": 2,
    "s": 4,
    "t": 4
}
'''

'\nQuestion 2 - \n1. Take a string as input.\n2. Create a dictionary acc to the following criteria - \n- There will be one key value pair for each unique character - \n- Key will be character and value will be the count of character inside the string\n\nINPUT - "rrsssstttt"\nOUTPUT -\n{\n    "r": 2,\n    "s": 4,\n    "t": 4\n}\n'

In [121]:
a = "random input with lots of random randomness"

In [123]:
a.count(" ")

6

In [124]:
result = {}

In [125]:
result[" "] = a.count(" ")

In [126]:
result

{' ': 6}

In [122]:
set(a)

{' ',
 'a',
 'd',
 'e',
 'f',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'w'}

In [102]:
def count_frequency(a):
    result = {}
    
    for i in set(a):
        result[i] = a.count(i)
        
    return result

In [103]:
count_frequency(a)

{'r': 3,
 ' ': 6,
 'n': 5,
 'm': 3,
 'i': 2,
 't': 3,
 'o': 5,
 'w': 1,
 's': 3,
 'f': 1,
 'd': 3,
 'e': 1,
 'a': 3,
 'p': 1,
 'u': 1,
 'h': 1,
 'l': 1}

In [106]:
result = {}
while True:
    key = input()
    value = input()
    result[key] = value
    
    choice = input("Do you want to add another key value pair? (N/n if no) - ")
    
    if choice in ["N", "n"]:
        break

n
5
Do you want to add another key value pair? (N/n if no) - n

In [105]:
result

{'random': '1', 'random2': '2'}

In [107]:
# ACTUAL HETEROGENEITY

In [108]:
# Keys -> Any immutable data type (Anything other than lists / dictionaries / sets)

In [112]:
# Mutable (Can be changed) -> Lists, Sets and Dictionaries
# Immutable (Can't be changed) -> Int, Float, Boolean, String, Tuples

In [109]:
random = {
    "key1": [4,45,67],
    "key2": {
        (1,2,3): 45
    },
    45: "value2",
    45.67: "value3",
    True: {2,3,4}
}

In [110]:
random = {
    "key1": [4,45,67],
    "key2": {
        [1,2,3]: 45
    },
    45: "value2",
    45.67: "value3",
    True: {2,3,4}
}

TypeError: unhashable type: 'list'

In [111]:
# UNHASHABLE -> HASHING - We will be revisiting sets an dictionaries once again in Intermediate

In [113]:
# We will be covering the following two concepts in Intermediate - 
# 1. Python Refresher 1 -> Mutable vs Immutable
# 2. Hashing -> Why sets and dictionaries throw this unhashable error

In [114]:
a = [("Delhi", 70), ("Kerala", 99), ("UP", 50), ("Nagaland", 65)]

In [115]:
dict(a)

{'Delhi': 70, 'Kerala': 99, 'UP': 50, 'Nagaland': 65}

In [117]:
# TRUE = 1

In [119]:
# FALSE = 0

In [1]:
##
#! Iteration protocol
a="string_iterable"
it = iter(a)

In [3]:
next(it)

's'

In [4]:
next(it)

't'

In [20]:
board =[[""]*3]*3

In [21]:
board

[['', '', ''], ['', '', ''], ['', '', '']]

In [10]:
board[0][2]=1

In [11]:
board

[[1, '', 1], [1, '', 1], [1, '', 1]]

In [22]:
iter(board)

In [15]:
A=[['', '', ''], ['', '', ''], ['', '', '']]

In [19]:
iter(A)

In [16]:
A[0][0]=1

In [17]:
A

[[1, '', ''], ['', '', ''], ['', '', '']]

In [ ]:
#
#! List comprehension

In [26]:
# for i in range(1,11):
#     for j in range(1,11):
#         print(i*j)


tableofdeath=[[i*j for j in range(1,11)] for i in range(1,11)]

In [27]:
tableofdeath

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [1]:
board =[[""]*3]*3

In [2]:
id(board)

1849875780672

In [3]:
A=[['', '', ''], ['', '', ''], ['', '', '']]

In [4]:
id(A)

1849875497280

In [10]:
A=[['', '', ''], ['', '', ''], ['', '', '']]

print(id(A[0]))
print(id(A[1]))
print(id(A[2]))

1849875600512
1849875354432
1849875571648

In [11]:
board =[[""]*3]*3

print(id(board[0]))
print(id(board[1]))
print(id(board[2]))

1849904317376
1849904317376
1849904317376

In [25]:
v1_alphabets = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']


str1="abc"
strlist=list(str1)
for i in strlist:
    print(v1_alphabets[v1_alphabets.index(i)])

a
b
c

In [29]:
v1_alphabets.index('b')-2

-1

In [37]:
n=5
for i in range(n):
    for j in range(n-1):
        print(n-1-j, end="")
    print()

4321
4321
4321
4321
4321

In [40]:
a= {1,2,4,5,7}
b= {1,3,4,6}

{2, 3, 5, 6, 7}

In [44]:
all.intersection(b)

{1, 4}

In [41]:
all

In [50]:
def dcVmarvel(listA, listB):
    all_fans = [i for i in range(1,51)]
    notafan=set(all_fans).symmetric_difference(set(listA) | (set(listB)))
    love_all = set(listA) & set(listB)
    print(notafan)
    print(love_all)

In [51]:
a= [1,2,4,5,7]
b= [1,3,4,6]


dcVmarvel(a,b)

{8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50}
{1, 4}

In [29]:
##
#! Binery Search

lst1=[0,1,2,3,4,5,6,7]

t=6



def binary_search(lst1,t):
    start=lst1[0]
    end=lst1[-1]
    
    while start <= end:

        mid=(start+end)//2
        
        if lst1[mid]==t:
            return mid
        elif t > lst1[mid]:
            start=mid+1
        else:
            end=mid-1
    
    return -1
    

# def binary_search(arr, target):
#     # Get the starting and ending index of the list
#     start = 0
#     end = len(arr) - 1
    
#     # Loop until the start index is less than or equal to the end index
#     while start <= end:
#         # Get the middle index of the list
#         mid = (start + end) // 2
        
#         # If the middle element is the target, return the index
#         if arr[mid] == target:
#             return mid
        
#         # If the middle element is greater than the target, search the left half of the list
#         elif arr[mid] > target:
#             end = mid - 1
            
#         # If the middle element is less than the target, search the right half of the list
#         else:
#             start = mid + 1
    
#     # If the target is not found, return -1
#     return -1

In [33]:
binary_search(lst1,11)

-1